{{> mainh}}

{{#if error}}
	<div class="alert alert-danger">
    {{error}} 
  </div>
{{/if}}
            <br><br><br>
            <div class="container-fluid">
                
                        <div class="card">
                        <div style="background-color: whitesmoke">
                        <div style="color: black">
                        <h3 style= "text-align: center">MY EARNINGS</h3><hr>
                       
                        </div>
                         <button class="btn btn-success">MY WALLET</button>
                         <hr>
                        <button class="btn btn-success"> TOTAL EARNED</button>
                        <hr>
                        <form method ="POST" action ="/withdraw">
                        <div class="form-group">
                        <div style="text-align: center">
                         <button type="submit" class="btn btn-success">WITHDRAW</button>
                         </div>
                         </div>
                        </form>
                        </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
<!-- End of the first earning section -->
	
            <br><br><br>
            <div class="container-fluid">
                
                        <div class="card">
                        <div style="background-color: whitesmoke">
                        <div style="color: black">
                        <h3 style= "text-align: center">MY EARNINGS BREAKDOWN</h3><hr>
                       
                        </div>
                        <div style= "text-align: center">
                         <button class="btn btn-success">FEEDER STAGE</button>
                         <h5> Cash: </h5>
                         </div>
                         <hr>
                          <div style= "text-align: center">
                        <button class="btn btn-success"> STAGE ONE</button>
                        <h5><big> Cash: </h5>
                        <h5> Power Bank: </h5>
                        <h5> Total Funds: </h5>
                        </div>
                        <hr>
                          <div style= "text-align: center">
                        <button class="btn btn-success"> STAGE TWO</button>
                         </div>
                        <hr>
                       <div style= "text-align: center">
                        <button class="btn btn-success"> STAGE THREE</button>
                        </div>
                        <hr>
                   <div style= "text-align: center">
                   <button class="btn btn-success"> STAGE FOUR</button>
                   </div>
                        <hr>
                        </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of this one -->
                    <!-- End of the first earning section -->
	
            <br><br><br>
            <div class="container-fluid">
                
                        <div class="card">
                        <div style="background-color: whitesmoke">
                        <div style="color: black">
                        <h3 style= "text-align: center">MY MATRIX TREE</h3><hr>
                       
                        </div>
                        <div style= "text-align: center">
                         <button class="btn btn-success">FEEDER STAGE</button>
                         
                         </div>
                         <hr>
                          <div style= "text-align: center">
                        <button class="btn btn-success"> STAGE ONE</button>
                        
                        </div>
                        <hr>
                          <div style= "text-align: center">
                        <button class="btn btn-success"> STAGE TWO</button>
                         </div>
                        <hr>
                       <div style= "text-align: center">
                        <button class="btn btn-success"> STAGE THREE</button>
                        </div>
                        <hr>
                   <div style= "text-align: center">
                   <button class="btn btn-success"> STAGE FOUR</button>
                   </div>
                        <hr>
                        </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
{{> mainf}}