<!doctype html>
<html lang="en">
  

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../../external.html?link=https://getbootstrap.com/favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./dist/css/carousel.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Akahline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/faq">FAQ</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/howitworks">Compensation Plan</a>
            </li>
            {{#if isAuthenticated}}
            <li class="nav-item">
              <a class="nav-link disabled" href="/logout">Log Out</a>
                </li>
                  <li class="nav-item">
              <a class="nav-link disabled" href="/dashboard">Dashboard</a>
                </li>
                	{{else}}
                	<li class="nav-item">
              <a class="nav-link disabled" href="/register">Register</a>
                </li>
                <li class="nav-item">
              <a class="nav-link disabled" href="/login">Log In</a>
                </li>
                			{{/if}}
          </ul>
        </div>
      </nav>
    </header>
